<!DOCTYPE HTML>
<html>
<head>
    <title>The Alchemist WEB Socket Simulator</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var point_id;
        var tower_id;
        var selectedMarker;


        $(document).ready(function() {
            namespace = '/main';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            var current = {'lat': 37.4118, 'lon': -122.0713};

            socket.emit('get_points', current);

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: {lat: current.lat, lng: current.lon}
            });

            map.addListener('center_changed', function() {
                var c = map.getCenter()
                // console.log(c.lat() + ', ' + c.lng())
            });

            map.addListener('dragend', function() {
                console.log('location changed');
                var c = map.getCenter();
                console.log(c.lat() + ' - ' + c.lng());
                var current = {'lat': c.lat(), 'lon': c.lng()};
                socket.emit('get_points', current);
            });

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                      console.log("Returned place contains no geometry");
                      return;
                    }
                    var icon = {
                      url: place.icon,
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(25, 25)
                    };


                    if (place.geometry.viewport) {
                      // Only geocodes have viewport.
                      bounds.union(place.geometry.viewport);
                    } else {
                      bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
                var current = {'lat': bounds.getCenter().lat(), 'lon': bounds.getCenter().lng()};
                socket.emit('get_points', current);
            });

            socket.on('receive_points', function(data) {
                console.log(data.points.length);
                initMap(data.points, socket, map);
            });

            socket.on('resource_spawned', function(data) {
                console.log('Resource spawned!');

                var infowindow = new google.maps.InfoWindow();

                var marker = new google.maps.Marker({
                    position: {'lat': data.point.lat, 'lng': data.point.lon},
                    map: map,
                    title: data.title,
                    label: data.label
                });

                google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                      infowindow.setContent('<b>ID:</b> ' + data.id + '<br/>'+
                                            '<b>Title:</b> ' + data.title + '<br/>'+
                                            '<b>Quantity:</b> ' + data.quantity + '<br/>'+
                                            '<b>Description:</b> ' + data.description);
                      infowindow.open(map, marker);
                      selectedMarker = marker;
                      point_id = data.id;
                      tower_id = data.towerid;
                    }
                })(marker));

            });

            $('form#resource_found_button').submit(function(event) {
                event.preventDefault();
                console.log(point_id);
                selectedMarker.setMap(null);
                socket.emit('resource_found', {'id': point_id, 'tower_id': tower_id});
                return false;
            });
        });


        var markers = [];
        var markerCluster = null;

        function removeMarkers(){
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
            }
            markers.length = 0;
        }

        function initMap(points, socket, map) {
            console.log('initMap');

            removeMarkers();

            for(var i=0, points; point = points[i]; i++){
                var infowindow = new google.maps.InfoWindow();

                var marker = new google.maps.Marker({
                    position: {lat: point.location.lat, lng: point.location.lon},
                    map: map,
                    title: point.title,
                    label: point.label
                });

                google.maps.event.addListener(marker, 'click', (function(marker, point) {
                    return function() {

                      infowindow.setContent('<b>ID:</b> ' + point.id + '<br/>'+
                                            '<b>Title:</b> ' + point.title + '<br/>'+
                                            '<b>Quantity:</b> ' + point.quantity + '<br/>'+
                                            '<b>Description:</b> ' + point.description);
                      infowindow.open(map, marker);
                      selectedMarker = marker;
                      point_id = point.id;
                      tower_id = point.towerid;
                    }
                })(marker, point));

                markers[i] = marker;
            }

            // Add a marker clusterer to manage the markers.
            //markerCluster = new MarkerClusterer(map, markers,
            //    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
          }
    </script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAmEWBoTp5ivQrK7JpU5Eb32Wr0smDyMcc&libraries=places'></script>
    <style>
        .info{
            display: none;
        }
        .trigger{
            cursor: pointer;
            font-size: 12px;
        }
        .info{
            font-size: 13px;
        }
        h3{
            margin-bottom: 0;
        }
        #map {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>The Alchemist WEB Socket Simulator</h1>
    <h3>Points</h3>
</div>
<input id="pac-input" style="width: 100%;" class="controls" type="text" placeholder="Search Box"/>
<form id="resource_found_button" method="POST" action='#'>
    <input type="submit" value="Mark as found">
</form>
<div id="map"></div>
</body>
</html>
